* {
    background:		#1e1e2e;
    background-alt:	#707880;
    brdr:               #1e1e2e;
    foreground:		#f2cdcd;
    foresel:            #67AFC1;
    selected:		#181825;
    urgent:		#f38ba8;
    on:			#cba6f7;
    off:		#f5c2e7;
}
