#vimiumHintMarkerContainer div.internalVimiumHintMarker, #vimiumHintMarkerContainer div.vimiumHintMarker {
    padding: 3px 4px;
    background: #b4befe; /* peach */
    border: 1;
    border-color: #181825; /* mantle */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
  #vimiumHintMarkerContainer div span {
    color: #181825; /* mantle */
    text-shadow: none;
  }
  
  #vimiumHintMarkerContainer div > .matchingCharacter {
    opacity: 1.0;
  }
  
  #vimiumHintMarkerContainer div > .matchingCharacter ~ span {
    color: #585B70; /* surface2 */
  }
  
  #vomnibar {
    background: #1E1E2E; /* base */
    border: 2px solid #B4BEFE; /* lavender */ 
    animation: show 200ms cubic-bezier(0, 0, 0.2, 1) forwards;
  }
  
  @keyframes show {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  #vomnibar input {
    color: #CDD6F4; /* text */
    font: -moz-window;
    background: #1E1E2E; /* base */
    border: none;
    padding: 2;
  }
  
  #vomnibar .vomnibarSearchArea {
    padding: 10px 30px;
    border: none;
    background: #1E1E2E; /* base */
  }
  
  #vomnibar ul {
    padding: 0;
    background: #1E1E2E; /* base */
    border-top: 1px solid #313244; /* surface0 */
  }
  
  #vomnibar li {
    padding: 10px;
    border-bottom: 1px solid #313244; /* surface0 */
  }
  
  #vomnibar li .vomnibarTopHalf,
  #vomnibar li .vomnibarBottomHalf {
    padding: 3px 0;
  }
  
  #vomnibar li .vomnibarSource {
    color: #b4befe; /* peach */ 
  }
  
  #vomnibar li em,
  #vomnibar li .vomnibarTitle {
    color: #89B4FA; /* blue */
    font-weight: bold;
  }
  
  #vomnibar li .vomnibarUrl {
    color: #F5E0DC; /* rosewater */
  }
  
  #vomnibar li .vomnibarMatch {
    color: #A6E3A1; /* green */
    font-weight: bold;
  }
  
  #vomnibar li .vomnibarTitle .vomnibarMatch {
    color: #89B4FA; /* blue */
  }
  
  #vomnibar li.vomnibarSelected {
    background-color: #313244; /* surface0 */
  }
  
  div.vimiumHUD {
    background: #1E1E2E; /* base */
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
  div.vimiumHUD span#hud-find-input,
  div.vimiumHUD .vimiumHUDSearchAreaInner {
    color: #CDD6F4; /* text */
  }
  
  div.vimiumHUD .hud-find {
    background-color: #1E1E2E; /* base */
    border: none;
  }
  
  div.vimiumHUD .vimiumHUDSearchArea {
    background-color: #1E1E2E; /* base */
  }